Web_Tech/jobs.dtd


<!ELEMENT jobs (job+)>
<!ELEMENT job (Name,Address,Description,Skill)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Address (City,State,Country)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT State (#PCDATA)>
<!ELEMENT Country (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Skill (#PCDATA)>
<!ATTLIST Name jobid ID #REQUIRED>